[submodule "themes/anatole"]
	path = themes/anatole
	url = git@github.com:mjchi7/anatole.git
[submodule "themes/rocinante"]
	path = themes/rocinante
	url = https://github.com/mavidser/hugo-rocinante.git